body {
    background-color: beige;
}

.wrapper {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.one {
    cursor: pointer;
}

.wrapper>div {
    width: 150px;
    height: 150px;
    border: 5px solid lime;
    justify-content: center;
    font-size: 40px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    color: magenta;
}